#!/usr/bin/env bash

# How many local backups to keep. Defaults to 2
# localRotate=4;

# The directory name on Dropbox. Defaults to ${HOSTNAME}
# dropboxBackDirName=Neo;

# The directories to back up
dirs=(
    '/Users/tjdraper/tmp/backup1'
    '/Users/tjdraper/tmp/backup2'
);

# The Databases to back up. Set the database variables after this array as:
# DATABASENAME_host
# DATABASENAME_username
# DATABASENAME_password
databases=(
    'testDatabase'
    'testDatabaseTwo'
);

## Database credentials

testDatabase_host="127.0.0.1";
testDatabase_username="username_test";
testDatabase_password="pasword_test";

testDatabaseTwo_host="127.0.0.1";
testDatabaseTwo_username="username_test";
testDatabaseTwo_password="pasword_test";
